.container {
	min-width: 700px;
	min-height: 600px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font: 13px Arial, sans-serif;
}





.header {
	position: absolute;
	width: 100%;
	top: 15px;
}

.nav {
	padding: 7px 30px;
}

.nav a {
	padding: 7px 8px;
}

#sign-in-button {
	width: 50px;
	height: 20px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(67, 135, 253);
	color: white;
}

.header a, .footer a {
	text-decoration: none;
}

.header a:hover, .footer a:hover {
	text-decoration: underline;
}

.header a {
	color: #000;
}

.footer a {
	color: #666;
}





.main {
	transform: translateY(50%);
}

.contents {
	margin: 0 auto;
}

#logo {
	display: block;
}

#search-form {
	width: 700px;
	text-align: center;
}

.search-box {
	width: 600px;
	margin-bottom: 20px;
}





.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.footer-left a, .footer-right a {
	padding: 12px 10px;
}

.footer-left, .footer-right, .sign-in-button {
	display: inline-block;
}

.footer-left, .footer-right {
	padding: 12px 30px;
}

.footer-right, .nav {
	float: right;
}