* {
	margin: 0;
	padding: 0;
	font: 13px Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #1a0dab;
}

h3 {
	font-size: 18px;
}





.container {
	width: 100%;
	min-height: 842px; /* Change this to an appropriate size later */
	min-width: 1000px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}





.header {
	width: 100%;
	height: 120px;
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
}

.nav-top {
	height: 48px;
	padding: 16px 7px 0 7px;
}

.nav-top img {
	width: 120px;
	height: 44px;
	padding: 6px 15px 0 8px;
}

.form-container {
	height: 47px;
	width: 665px;
	position: absolute;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.form-container form {
	display: inline;
}

.form-container input {
	width: 585px;
	background-color: #fff;
	color: #000;
	font-size: 16px;
	border: medium none;
	padding: 15px;
}

.form-container button {
	height: 47px;
	width: 50px;
	float: right;
	background-color: #fff;
	border: medium none;
}

.form-container svg {
	width: 24px;
	vertical-align: middle;
	fill: #4285f4;
}

.nav-top-right {
	height: auto;
	padding: 16px;
	float: right;
}

.nav-top-right a {
	padding: 7px 8px;
	text-decoration: none;
	color: #000;
}

.nav-top-right a:hover, .related-searches a:hover, .page-numbers table tr td a:hover {
	text-decoration: underline;
}

#sign-in-button {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(67, 135, 253);
  color: white;
}

#sign-in-button:hover {
	text-decoration: none;
}

.nav-bot {
	height: 58px;
}

.nav-bot-container {
	width: auto;
	position: absolute;
	margin: 0 0 0 149px;
	padding: 30px 0 10px 0;
}

.nav-bot-container a {
	padding: 30px 16px 8px 16px;
}

.nav-bot-container a, .footer-top a, .footer-bot a, #report-images {
	color: #777;
	text-decoration: none;
}

.nav-bot-container a:hover, .footer-top a:hover, .footer-bot a:hover, #report-images:hover {
	color: #222;
}

#all-link {
	border-bottom: 3px solid #4285f4;
	color: #4285f4;
	font-weight: bold;
}

#settings-link {
	margin: 0 0 0 90px;
}





.main {
	width: 100%;
	height: auto;
	position: absolute;
	top: 122px; /* .header height + border-bottom */
	bottom: 84px; /* .footer height + border-top */
}

.center-column {
	width: 630px;
	height: 100%;
	position: absolute;
	margin-left: 150px;
}

.images, .result, .related-searches {
	margin-bottom: 26px;
}

.results-stats {
	width: auto;
	height: auto;
	padding: 14px;
	color: #808080;
}

.images {
	width: 100%;
	height: auto;
}

.images-top a, #more-images {
	color: #1a0dab;
}

.images-top {
	padding-bottom: 12px;
}

.kitten-images {
	text-align: center;
}

.kittens {
	width: auto;
	height: 90px;
	display: inline-block;
	overflow: hidden;
}

.kittens img {
	margin-left: -5px;
}

.images-bot {
	height: 24px;
}

.images-bot svg {
	fill: #1a0dab;
}

#more-images {
	position: absolute;
	margin: 3px 0 3px 8px;
}

#report-images {
	margin: 3px 16px 3px 8px;
	float: right;
}

#svg-arrow {
	width: 24px;
	height: 24px;
}

.search-results {
	width: 100%;
	/* height: 500px; */
	height: auto;
}

.search-results em {
	font-weight: bold;
}

.search-results-link {
	color: #006621;
	font-size: 14px;
}

.related-searches {
	width: 100%;
	height: auto;
}

.related-searches h3 {
	padding-top: 10px;
	padding-bottom: 20px;
}

.related-searches p {
	padding: 3px 0;
}

.related-searches a {
	font-weight: bold;
	font-size: 14px;
}

.related-searches-column1, .related-searches-column2 {
	width: 50%;
	display: inline-block;
}

.related-searches-column2 {
	position: absolute;
	float: right;
}

.page-numbers {
	width: 100%;
	height: 55px;
}

.page-numbers table {
	border-collapse: collapse;
	margin: 0 auto;
}

.page-numbers table tr td {
	vertical-align: baseline;
	text-align: center;
}

.page-numbers table tr td a {
	color: #4285f4;
}




.footer {
	width: 100%;
	height: 83px;
	position: absolute;
	bottom: 0;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.footer-top {
	height: auto;
	padding: 15px 0 0 166px;
	color: #aaa;
}

#footer-top-dot {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	margin: 6px 0 9px 0;
	background-color: #9e9e9e;
	vertical-align: middle;
}

.footer-bot {
	height: auto;
	padding: 14px 0 14px 166px;
}

.footer-bot a {
	padding-right: 27px;
}