* {
	margin: 0;
	padding: 0;
	border: 1px solid black; /* Temporary */
}

html, body, a, form {
	border: none; /* Temporary */
}





.container {
	width: 100%;
	min-height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}





.header {
	width: 100%;
	height: 122px;
}

.nav-top {
	height: 55px; /* Add 2px when removing borders */
	padding: 7px 7px 0 7px;
}

.nav-top img {
	width: 120px;
	height: 44px;
	padding: 5px 10px 0 5px;
}

.form-container {
	width: 637px;
	position: absolute;
	display: inline-block;
}

.form-container form {
	display: inline;
}

.form-container input {
	height: 44px;
	width: 585px;
}

.form-container button {
	height: 46px;
	width: 50px;
	float: right;
}

.form-container svg {
	width: 24px;
	vertical-align: middle;
}

.nav-bot {
	height: 56px; /* Add 2px when removing borders */
}





.main {
	width: 100%;
	height: auto;
	position: absolute;
	top: 122px; /* .header height */
	bottom: 83px; /* .footer height */
}





.footer {
	width: 100%;
	height: 83px;
	position: absolute;
	bottom: 0;
}